{% load static %}

<div id="header-top">
    <div id="h-l-block">
        <a href="/account/" class="my-account">Мой аккаунт</a>
        <a href="/orders/" class="my-orders">Мои заказы</a>
        <a href="/logout/" class="my-help">Выход</a>
    </div>
    <div id="h-r-block">
        <div class="number">{{ settings.phone_home }}</div>
        <a href="#" class="call-me">Обратный звонок</a>
    </div>
</div>
<a href="/" id="header-logo">
    <div class="logo-img"></div>
    <div class="logo-splitter"></div>
    <div class="slogan">Магазин детской одежды</div>
</a>
<div id="header-items">
    <div class="header-item"><a href="/usloviya-dostavki/"><div class="header-img-block"><img src="{% static "images/i-1.png" %}" alt="img1"/></div><p>Условия <br/>  доставки</p></a></div>
    <div class="header-item"><a href="/raznye-sposoby-oplaty/"><div class="header-img-block"><img src="{% static "images/i-2.png" %}" alt="img2"/></div><p>Разные <br/> способы оплаты</p></a></div>
    <div class="header-item"><a href="/garantiya-luchshej-ceny/"><div class="header-img-block"><img src="{% static "images/i-3.png" %}" alt="img3"/></div><p>Гарантия <br/> качества</p></a></div>
    <div class="header-item"><a href="/cart/"><div class="header-img-block"><img src="{% static "images/i-4.png" %}" alt="img4"/></div><span>(<span id="top_count_cart">0</span>) Корзина</a></span></div>
</div>

<div id="header-bottom">
    <div class="left-nav">
        <ul>
            <li>
                <a href="/catalog/">Каталог <img class="arrow" src="{% static "images/arrow.png" %}" alt="arr"/></a>
                <div>
                    <ul>
                        {% for category in categories %}
                        <li><a href="/catalog/{{ category.url }}/">{{ category }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
            <li>
                <a href="/catalog/">По возрасту <img class="arrow" src="{% static "images/arrow.png" %}" alt="arr"/></a>
                <div>
                    <ul style="border-right: 1px solid #fff">
                        <li class="top_menu_title">Для девочек</li>
                        {% for category in age_girls %}
                        <li><a href="/catalog/age/{{ category.id }}/">{{ category.title }}</a></li>
                        {% endfor %}
                    </ul>
                    <ul>
                        <li class="top_menu_title">Для мальчиков</li>
                        {% for category in age_boys %}
                        <li><a href="/catalog/age/{{ category.id }}/">{{ category.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
            <li>
                <a href="/catalog/">Бренды <img class="arrow" src="{% static "images/arrow.png" %}" alt="arr"/></a>
                <div>
                    <ul>
                        {% for brand in brands %}
                        <li><a href="/catalog/brand/{{ brand.id }}/">{{ brand.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div class="right-nav">
        <ul>
            <li><a href="/">Все акции</a></li>
            <li><a href="#">Популярное</a></li>
            <li><a href="/kontakty/">Контакты</a></li>
        </ul>
    </div>
</div>