{% extends "base.html" %}
{% load catalog_menu %}


{% block content %}
<div id="left-block">
    {% catalog_menu %}
</div>
<div id="center-block" class="orders">
    <h1 class="title_h1">Оформление заказа</h1>

    <div class="user_information">
        <img src="/static/images/user91.png" alt="">
        <p>Вы авторизованы как <a href="#">Вячеслав Маршинский</a>. Пожалуйста, подтвердите или обновите вашу контактную информацию. Изменения будут автоматически сохранены в вашем профиле.</p>
    </div>

    <form action="">

        <div class="form_group" style="border-right: 1px solid #eee;">
            <h3>Информация о получателе</h3>
            <div class="form_group_item">
                <label for="first_name">Ваше имя * </label>
                <input type="text" name="first_name" id="first_name"/>
            </div>
            <div class="form_group_item">
                <label for="first_name">Фамилия * </label>
                <input type="text" name="first_name" id="first_name"/>
            </div>
            <div class="form_group_item">
                <label for="first_name">Email * </label>
                <input type="text" name="first_name" id="first_name"/>
            </div>
            <div class="form_group_item">
                <label for="first_name">Телефон * </label>
                <input type="text" name="first_name" id="first_name"/>
            </div>
            <div style="clear: both"></div>
        </div>

        <div class="form_group" style="margin-left: 15px">
            <h3>Информация о доставке</h3>
            <div class="form_group_item">
                <label for="first_name">Город * </label>
                <input type="text" name="first_name" id="first_name"/>
            </div>
            <div class="form_group_item">
                <label for="first_name">Полный адрес * </label>
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
            <div style="clear: both"></div>
        </div>

        <div class="form_group" style="width: 664px; border-top: 1px solid #eee;">
            <div class="reg_client">
                <input type="checkbox"/>
                <label for="">Зарегистрироваться как постоянный покупатель</label>
            </div>
        </div>

        <div class="form_group delivery_group">
            <h3>Вариант доставки</h3>

            <ul class="delivery_option">
                <li>
                    <input type="radio"/>
                    <label for="">Самовывоз - <span>300 руб.</span></label>
                    <p>Полное описание самовывоза</p>
                </li>
                <li>
                    <input type="radio"/>
                    <label for="">Самовывоз - <span>300 руб.</span></label>
                    <p>Полное описание самовывоза</p>
                </li>
                <li>
                    <input type="radio"/>
                    <label for="">Самовывоз - <span>300 руб.</span></label>
                    <p>Полное описание самовывоза</p>
                </li>
            </ul>
        </div>

        <div class="form_group" style="width: 100%; margin-top: 10px">
            <h3>Подтверждение заказа</h3>

            <div class="r-c-i-block">

                <table class="order_valid">
                    <tbody>
                        <tr>
                            <td width="150px">Сумма заказа:</td>
                            <td align="right"><span>5190</span> руб.</td>
                        </tr>
                        <tr>
                            <td>Доставка:</td>
                            <td align="right"><span>0</span> руб.</td>
                        </tr>
                        <tr style="border-top: 1px solid #eee">
                            <td>Итого:</td>
                            <td align="right"><span>5190</span> руб.</td>
                        </tr>
                    </tbody>
                </table>

                <div class="time-item">
                    <a href="#">Оформить заказ</a>
                </div>
            </div>
        </div>

        <div style="clear: both"></div>

    </form>



</div>
{% endblock %}