{% extends "base.html" %}
{% load catalog_menu %}

{% block title %}
    <title>Family Trend | Оформление заказа</title>
{% endblock %}

{% block content %}
<div id="left-block">
    {% catalog_menu %}
</div>
<div id="center-block" class="orders">
    <h1 class="title_h1">Оформление заказа</h1>

    {% if user_active %}
    <div class="user_information">
        <img src="/static/images/user91.png" alt="">
        <p>Вы авторизованы как <a href="/account/">{{ user.last_name }} {{ user.first_name }}</a>. Пожалуйста, подтвердите или обновите вашу контактную информацию. Изменения будут автоматически сохранены в вашем профиле.</p>
    </div>
    {% else %}
     <div class="user_information">
        <p>У меня уже есть аккаунт на FamilyTrend - <a href="#">войти</a></p>
     </div>
    {% endif %}

    <form action="/orders/create/" method="post">
        {% csrf_token %}

        <div class="form_group" style="border-right: 1px solid #eee;">
            <h3>Информация о получателе</h3>
            {% if user_inform_error %}
            <span style="display:block; margin: 10px 0; color:#ff0000;">Заполните обязательные поля</span>
            {% endif %}
            <div class="form_group_item {{ first_name_error }}">
                <label for="id_first_name">Ваше имя * </label>
                <input type="text" name="first_name" value="{{ form.first_name.value }}" id="id_first_name"/>
            </div>
            <div class="form_group_item {{ last_name_error }}">
                <label for="id_last_name">Фамилия * </label>
                <input type="text" name="last_name" value="{{ form.last_name.value }}" id="id_last_name"/>
            </div>
            <div class="form_group_item {{ email_error }}">
                <label for="id_email">Email * </label>
                <input type="text" name="email" value="{{ form.email.value }}" id="id_email"/>
            </div>
            <div class="form_group_item {{ phone_error }}">
                <label for="id_phone">Телефон * </label>
                <input type="text" name="phone" value="{{ form.phone.value }}" id="id_phone"/>
            </div>
            <div style="clear: both"></div>
        </div>

        <div class="form_group" style="margin-left: 15px">
            <h3>Информация о доставке</h3>
            {% if address_inform_error %}
            <span style="display:block; margin: 10px 0; color:#ff0000;">Заполните обязательные поля</span>
            {% endif %}
            <div class="form_group_item {{ city_error }}">
                <label for="id_city">Город * </label>
                <input type="text" name="city" value="{{ form.city.value }}" id="id_city"/>
            </div>
            <div class="form_group_item {{ address_error }}">
                <label for="id_address">Полный адрес * </label>
                <textarea name="address" id="id_address" cols="30" rows="10">{{ form.address.value }}</textarea>
            </div>
            <div style="clear: both"></div>
        </div>

        <div class="form_group" style="width: 664px; border-top: 1px solid #eee;">
            {% if register_error %}
            <span style="display:block; margin-top: 10px; color:#ff0000;">{{ register_error }}</span>
            {% endif %}
            <div class="reg_client">
                <input type="checkbox" name="register" id="id_register"/>
                <label for="id_register">Зарегистрироваться как постоянный покупатель</label>
            </div>
        </div>

        <div class="form_group delivery_group">
            <h3>Вариант доставки</h3>
            {% if delivery_error %}
            <span style="display:block; margin: 10px 0; color: #ff0000">Выберите тип доставки</span>
            {% endif %}
            <ul class="delivery_option">
                {% for delivery_item in delivery_mass %}
                <li>
                    <input name="delivery" id="id_delivery_{{ delivery_item.id }}" type="radio" value="{{ delivery_item.id }}" data-sum="{{ delivery_item.price }}"/>
                    <label for="id_delivery_{{ delivery_item.id }}">{{ delivery_item.title }} - <span>{{ delivery_item.price }} руб.</span></label>
                    <p>{{ delivery_item.description }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="form_group" style="width: 100%; margin-top: 10px">
            <h3>Подтверждение заказа</h3>

            <div class="r-c-i-block">

                <table class="order_valid">
                    <tbody>
                        <tr>
                            <td width="150px">Сумма заказа:</td>
                            <td align="right"><span id="cart_sum" data-sum="{{ cart_sum }}">{{ cart_sum }}</span> руб.</td>
                        </tr>
                        <tr>
                            <td>Доставка:</td>
                            <td align="right"><span id="delivery_sum">0</span> руб.</td>
                        </tr>
                        <tr style="border-top: 1px solid #eee">
                            <td>Итого:</td>
                            <td align="right"><span id="all_sum">{{ cart_sum }}</span> руб.</td>
                        </tr>
                    </tbody>
                </table>

                <div class="time-item">
                    <input type="submit" value="Оформить заказ" class="yellow_button"/>
                </div>
            </div>
        </div>

        <div style="clear: both"></div>

    </form>



</div>
{% endblock %}