{% extends "base.html" %}
{% load catalog_menu %}


{% block content %}
<div id="left-block">
    {% catalog_menu %}
</div>

<div id="center-block" class="user_cart">
    <h1 class="title_h1">Корзина</h1>

    <table class="table-cart table-order">
        <tr>
            <th>Номер заказа</th>
            <th width="80px">Дата</th>
            <th width="100px">Статус</th>
            <th width="90px">Сумма</th>
        </tr>
        <tr class="product_item">
            <td width="80px">
                <a href="#">1233</a>
            </td>
            <td>
                16.06.2015г
            </td>
            <td>
                В обработке
            </td>
            <td>
                1500 руб.
            </td>
        </tr>
    </table>
</div>
{% endblock %}