{% extends "base.html" %}
{% load catalog_menu %}

{% block title %}
    <title>Family Trend | Заказ №1233</title>
{% endblock %}

{% block content %}
<div id="left-block">
    {% catalog_menu %}
</div>

<div id="center-block" class="user_cart">
    <h1 class="title_h1">Заказ №1233</h1>

    <p style="margin: 10px 0">Доставка: {{ order.delivery }} ({{ order.delivery_price }} руб.)</p>
    <p style="margin: 10px 0">Адрес: {{ order.address }}</p>
    <p style="margin: 10px 0">Сатаус заказа: <span class="my_order_status">{{ status }}</span></p>

    <table class="table-cart table-order">
        <tr>
            <th colspan="2">Наименование товара</th>
            <th width="110px">Цена</th>
            <th width="110px">Количество</th>
            <th width="110px">Сумма</th>
        </tr>
        {% for product in products %}
        <tr class="product_item">
            <td>
                <a href="#"><img src="{{ product.image }}" alt="" width="60px"/></a>
            </td>
            <td>
                {{ product.title }}
            </td>
            <td>
                {{ product.price_order }} руб.
            </td>
            <td align="center">{{ product.count }} шт.</td>
            <td>
                4500 руб.
            </td>
        </tr>
        {% endfor %}

        <tr class="result">
            <td colspan="3" align="right">Итого c учётом доставки:</td>
            <td></td>
            <td><span id="cart_result_sum">{{ order.sum }} руб.</span></td>
        </tr>
    </table>
</div>
{% endblock %}