{% extends "base.html" %}
{% load catalog_menu %}

{% block title %}
    <title>Family Trend | Заказ №1233</title>
{% endblock %}

{% block content %}
<div id="left-block">
    {% catalog_menu %}
</div>

<div id="center-block" class="user_cart">
    <h1 class="title_h1">Заказ №1233</h1>

    <p style="margin: 10px 0">Доставка: тип доставки (300 руб.)</p>
    <p style="margin: 10px 0">Адрес: г. Оренбург, ул. Кима 8, 210</p>
    <p style="margin: 10px 0">Сатаус заказа: <span class="my_order_status">В обработке</span></p>

    <table class="table-cart table-order">
        <tr>
            <th colspan="2">Наименование товара</th>
            <th width="110px">Цена</th>
            <th width="100px">Количество</th>
            <th width="90px">Сумма</th>
        </tr>
        <tr class="product_item">
            <td width="80px">
                <a href="#"><img src="/static/uploads/p4GwiOkajfud4FNyPk9f.jpg" alt="" width="60px"/></a>
            </td>
            <td>
                Название товара
            </td>
            <td>
                1500 руб.
            </td>
            <td align="center">3 шт.</td>
            <td>
                4500 руб.
            </td>
        </tr>
        <tr class="product_item">
            <td width="80px">
                <a href="#"><img src="/static/uploads/rJTSFbfCLwSHGWpqiAZj.jpg" alt="" width="60px"/></a>
            </td>
            <td>
                Название товара
            </td>
            <td>
                1500 руб.
            </td>
            <td>3 шт.</td>
            <td>
                4500 руб.
            </td>
        </tr>
        <tr class="result">
            <td colspan="3" align="right">Итого c учёта доставки:</td>
            <td colspan="2"><span id="cart_result_sum">2750 руб.</span></td>
        </tr>
    </table>
</div>
{% endblock %}