{% extends "base.html" %}
{% load catalog_menu %}

{% block title %}
    <title>Family Trend | пункты выдачи СДЭК</title>
{% endblock %}

{% block content %}
<div id="left-block">
    {% catalog_menu %}
</div>

<div id="center-block">
    <h1 class="title_h1">Пункты выдачи СДЭК</h1>

    <div class="delivery_list">
        <div class="recent-cities">
            <ul>
                <li><a href="/delivery/list_cdek/moskva/" title="">Москва</a></li>
                <li><a href="/delivery/list_cdek/sankt-peterburg/" title="">Санкт-Петербург</a></li>
                <li><a href="/delivery/list_cdek/ekaterinburg/" title="">Екатеринбург</a></li>
                <li><a href="/delivery/list_cdek/krasnodar/" title="">Краснодар</a></li>
                <li><a href="/delivery/list_cdek/nizhniy-novgorod/" title="">Нижний Новгород</a></li>
                <li><a href="/delivery/list_cdek/novosibirsk/" title="">Новосибирск</a></li>
                <li><a href="/delivery/list_cdek/rostov-na-donu/" title="">Ростов-на-Дону</a></li>
            </ul>
        </div>
        <div class="cities-list-item">
            <ul>
                <li class="country">Беларусь</li>
                <li><a href="/delivery/list_cdek/brest/" title="">Брест</a></li>
            </ul>
        </div>
        <div class="cities-list-item">
            <ul>
                <li><a href="/delivery/list_cdek/minsk/" title="">Минск</a></li>
            </ul>
        </div>
        <div class="cities-list-item">
            <ul>
                <li class="country">Казахстан</li>
                <li><a href="/delivery/list_cdek/aktau/" title="">Актау</a></li>
                <li><a href="/delivery/list_cdek/aktobe/" title="">Актобе</a></li>
                <li><a href="/delivery/list_cdek/almaty/" title="">Алматы</a></li>
                <li><a href="/delivery/list_cdek/astana/" title="">Астана</a></li>
                <li><a href="/delivery/list_cdek/atyrau/" title="">Атырау</a></li>
            </ul>
        </div>
        <div class="cities-list-item">
            <ul>
                <li><a href="/delivery/list_cdek/kyzylorda/" title="">Кызылорда</a></li>
            </ul>
        </div>
        <div class="cities-list-item">
            <ul>
                <li><a href="/delivery/list_cdek/pavlodar/" title="">Павлодар</a></li>
                <li><a href="/delivery/list_cdek/petropavlovsk/" title="">Петропавловск</a></li>
            </ul>
        </div>
        <div class="cities-list-item">
            <ul>
                <li><a href="/delivery/list_cdek/taraz/" title="">Тараз</a></li>
            </ul>
        </div>
        <div class="cities-list-item">
            <ul>
                <li><a href="/delivery/list_cdek/ust-kamenogorsk/" title="">Усть-Каменогорск</a></li>
            </ul>
        </div>
        <div class="cities-list-item">
            <ul>
                <li><a href="/delivery/list_cdek/shymkent/" title="">Шымкент</a></li>
            </ul>
        </div>
        <div class="cities-list-item">
            <ul>
                <li class="country">Китай</li>
                <li><a href="/delivery/list_cdek/pekin/" title="">Пекин</a></li>
            </ul>
        </div>
        <div class="cities-list-item">
            <ul>
                <li class="country">Россия</li>
                <li><a href="/delivery/list_cdek/abakan/" title="">Абакан</a></li>
                <li><a href="/delivery/list_cdek/aleksandrov/" title="">Александров</a></li>
                <li><a href="/delivery/list_cdek/alushta_ultavricheskaya_d_3/" title="">Алушта</a></li>
                <li><a href="/delivery/list_cdek/almetevsk/" title="">Альметьевск</a></li>
                <li><a href="/delivery/list_cdek/armavir/" title="">Армавир</a></li>
                <li><a href="/delivery/list_cdek/artem/" title="">Артем</a></li>
                <li><a href="/delivery/list_cdek/arhangelsk/" title="">Архангельск</a></li>
                <li><a href="/delivery/list_cdek/astrahan/" title="">Астрахань</a></li>
                <li><a href="/delivery/list_cdek/achinsk/" title="">Ачинск</a></li>
            </ul>
        </div>
        <div class="cities-list-item">
            <ul>
                <li><a href="/delivery/list_cdek/balakovo/" title="">Балаково</a></li>
                <li><a href="/delivery/list_cdek/balahna/" title="">Балахна</a></li>
                <li><a href="/delivery/list_cdek/balashiha/" title="">Балашиха</a></li>
                <li><a href="/delivery/list_cdek/barnaul/" title="">Барнаул</a></li>
                <li><a href="/delivery/list_cdek/belgorod/" title="">Белгород</a></li>
                <li><a href="/delivery/list_cdek/beloyarskiy/" title="">Белоярский</a></li>
                <li><a href="/delivery/list_cdek/berdsk/" title="">Бердск</a></li>
                <li><a href="/delivery/list_cdek/berezniki/" title="">Березники</a></li>
                <li><a href="/delivery/list_cdek/biysk/" title="">Бийск</a></li>
                <li><a href="/delivery/list_cdek/blagoveshchensk/" title="">Благовещенск</a></li>
                <li><a href="/delivery/list_cdek/bogorodskoe/" title="">Богородское</a></li>
                <li><a href="/delivery/list_cdek/bodaybo/" title="">Бодайбо</a></li>
                <li><a href="/delivery/list_cdek/bolshoy_kamen/" title="">Большой Камень</a></li>
                <li><a href="/delivery/list_cdek/borovichi/" title="">Боровичи</a></li>
                <li><a href="/delivery/list_cdek/bratsk/" title="">Братск</a></li>
                <li><a href="/delivery/list_cdek/bryansk/" title="">Брянск</a></li>
            </ul>
        </div>
        <div class="cities-list-item">
            <ul>
                <li><a href="/delivery/list_cdek/velikie_luki/" title="">Великие Луки</a></li>
                <li><a href="/delivery/list_cdek/velikiy_novgorod/" title="">Великий Новгород</a></li>
                <li><a href="/delivery/list_cdek/vidnoe/" title="">Видное</a></li>
                <li><a href="/delivery/list_cdek/vladivostok/" title="">Владивосток</a></li>
                <li><a href="/delivery/list_cdek/vladikavkaz/" title="">Владикавказ</a></li>
                <li><a href="/delivery/list_cdek/vladimir/" title="">Владимир</a></li>
                <li><a href="/delivery/list_cdek/volgograd/" title="">Волгоград</a></li>
                <li><a href="/delivery/list_cdek/volgodonsk/" title="">Волгодонск</a></li>
                <li><a href="/delivery/list_cdek/volzhskiy/" title="">Волжский</a></li>
                <li><a href="/delivery/list_cdek/vologda/" title="">Вологда</a></li>
                <li><a href="/delivery/list_cdek/volokolamsk/" title="">Волоколамск</a></li>
                <li><a href="/delivery/list_cdek/voronezh/" title="">Воронеж</a></li>
            </ul>
        </div>
        <div class="cities-list-item">
            <ul>
                <li><a href="/delivery/list_cdek/gatchina/" title="">Гатчина</a></li>
                <li><a href="/delivery/list_cdek/georgievsk/" title="">Георгиевск</a></li>
                <li><a href="/delivery/list_cdek/gorno-altaysk/" title="">Горно-Алтайск</a></li>
                <li><a href="/delivery/list_cdek/groznyy/" title="">Грозный</a></li>
            </ul>
        </div>
        <div class="cities-list-item">
            <ul>
                <li><a href="/delivery/list_cdek/dzerzhinsk_/" title="">Дзержинск</a></li>
                <li><a href="/delivery/list_cdek/dimitrovgrad/" title="">Димитровград</a></li>
                <li><a href="/delivery/list_cdek/dolgoprudnyy/" title="">Долгопрудный</a></li>
                <li><a href="/delivery/list_cdek/dubna/" title="">Дубна</a></li>
            </ul>
        </div>
        <div class="cities-list-item">
            <ul>
                <li><a href="/delivery/list_cdek/evpatoriya/" title="">Евпатория</a></li>
                <li><a href="/delivery/list_cdek/essentuki/" title="">Ессентуки</a></li>
            </ul>
        </div>
        <div class="cities-list-item">
            <ul>
                <li><a href="/delivery/list_cdek/jeleznovodsk/" title="">Железноводск</a></li>
            </ul>
        </div>
        <div class="cities-list-item">
            <ul>
                <li><a href="/delivery/list_cdek/zabaykalsk/" title="">Забайкальск</a></li>
                <li><a href="/delivery/list_cdek/zvenigorod/" title="">Звенигород</a></li>
                <li><a href="/delivery/list_cdek/zelenograd/" title="">Зеленоград</a></li>
                <li><a href="/delivery/list_cdek/zlatoust/" title="">Златоуст</a></li>
            </ul>
        </div>
        <div class="cities-list-item">
            <ul>
                <li><a href="/delivery/list_cdek/ivanovo/" title="">Иваново</a></li>
                <li><a href="/delivery/list_cdek/izhevsk/" title="">Ижевск</a></li>
                <li><a href="/delivery/list_cdek/irkutsk/" title="">Иркутск</a></li>
                <li><a href="/delivery/list_cdek/istra/" title="">Истра</a></li>
            </ul>
        </div>
        <div class="cities-list-item">
            <ul>
                <li><a href="/delivery/list_cdek/yoshkar-ola/" title="">Йошкар-Ола</a></li>
            </ul>
        </div>
        <div class="cities-list-item">
            <ul>
                <li><a href="/delivery/list_cdek/kazan/" title="">Казань</a></li>
                <li><a href="/delivery/list_cdek/kaliningrad/" title="">Калининград</a></li>
                <li><a href="/delivery/list_cdek/kaluga/" title="">Калуга</a></li>
                <li><a href="/delivery/list_cdek/kemerovo/" title="">Кемерово</a></li>
                <li><a href="/delivery/list_cdek/kerch/" title="">Керчь</a></li>
                <li><a href="/delivery/list_cdek/kirov/" title="">Киров</a></li>
                <li><a href="/delivery/list_cdek/kiselevsk/" title="">Киселевск</a></li>
                <li><a href="/delivery/list_cdek/kislovodsk/" title="">Кисловодск</a></li>
                <li><a href="/delivery/list_cdek/klin/" title="">Клин</a></li>
                <li><a href="/delivery/list_cdek/kolomna/" title="">Коломна</a></li>
                <li><a href="/delivery/list_cdek/kolpino/" title="">Колпино</a></li>
                <li><a href="/delivery/list_cdek/komsomolsk-na-amure/" title="">Комсомольск-на-Амуре</a></li>
                <li><a href="/delivery/list_cdek/kostomuksha/" title="">Костомукша</a></li>
                <li><a href="/delivery/list_cdek/kostroma/" title="">Кострома</a></li>
                <li><a href="/delivery/list_cdek/krasnogors/" title="">Красногорск</a></li>
                <li><a href="/delivery/list_cdek/krasnoyarsk/" title="">Красноярск</a></li>
                <li><a href="/delivery/list_cdek/kstovo/" title="">Кстово</a></li>
                <li><a href="/delivery/list_cdek/kurgan/" title="">Курган</a></li>
                <li><a href="/delivery/list_cdek/kursk/" title="">Курск</a></li>
            </ul>
        </div>
        <div class="cities-list-item">
            <ul>
                <li><a href="/delivery/list_cdek/lipeck" title="">Липецк</a></li>
                <li><a href="/delivery/list_cdek/lyubercy/" title="">Люберцы</a></li>
            </ul>
        </div>
        <div class="cities-list-item">
            <ul>
                <li><a href="/delivery/list_cdek/magadan/" title="">Магадан</a></li>
                <li><a href="/delivery/list_cdek/magnitogorsk/" title="">Магнитогорск</a></li>
                <li><a href="/delivery/list_cdek/maykop/" title="">Майкоп</a></li>
                <li><a href="/delivery/list_cdek/mahachkala/" title="">Махачкала</a></li>
                <li><a href="/delivery/list_cdek/mezhdurechensk/" title="">Междуреченск</a></li>
                <li><a href="/delivery/list_cdek/miass/" title="">Миасс</a></li>
                <li><a href="/delivery/list_cdek/mineralnye_vody/" title="">Минеральные воды</a></li>
                <li><a href="/delivery/list_cdek/mirnyiy/" title="">Мирный</a></li>
                <li><a href="/delivery/list_cdek/mozhaysk/" title="">Можайск</a></li>
                <li><a href="/delivery/list_cdek/murmansk/" title="">Мурманск</a></li>
                <li><a href="/delivery/list_cdek/mytishchi/" title="">Мытищи</a></li>
            </ul>
        </div>
        <div class="cities-list-item">
            <ul>
                <li><a href="/delivery/list_cdek/naberezhnye_chelny/" title="">Набережные Челны</a></li>
                <li><a href="/delivery/list_cdek/nadym/" title="">Надым</a></li>
                <li><a href="/delivery/list_cdek/nalchik/" title="">Нальчик</a></li>
                <li><a href="/delivery/list_cdek/naro-fominsk/" title="">Наро-Фоминск</a></li>
                <li><a href="/delivery/list_cdek/naryan-mar/" title="">Нарьян-Мар</a></li>
                <li><a href="/delivery/list_cdek/nahodka/" title="">Находка</a></li>
                <li><a href="/delivery/list_cdek/nevinnomyissk/" title="">Невинномысск</a></li>
                <li><a href="/delivery/list_cdek/neryungi/" title="">Нерюнгри</a></li>
                <li><a href="/delivery/list_cdek/neftekamsk/" title="">Нефтекамск</a></li>
                <li><a href="/delivery/list_cdek/nefteyugansk-of_11/" title="">Нефтеюганск</a></li>
                <li><a href="/delivery/list_cdek/nizhnevartovsk/" title="">Нижневартовск</a></li>
                <li><a href="/delivery/list_cdek/nizhnekamsk/" title="">Нижнекамск</a></li>
                <li><a href="/delivery/list_cdek/nizhniy_tagil/" title="">Нижний Тагил</a></li>
                <li><a href="/delivery/list_cdek/novokuznetsk/" title="">Новокузнецк</a></li>
                <li><a href="/delivery/list_cdek/novorossiysk/" title="">Новороссийск</a></li>
                <li><a href="/delivery/list_cdek/novocheboksarsk/" title="">Новочебоксарск</a></li>
                <li><a href="/delivery/list_cdek/novocherkassk/" title="">Новочеркасск</a></li>
                <li><a href="/delivery/list_cdek/novyy_urengoy/" title="">Новый Уренгой</a></li>
                <li><a href="/delivery/list_cdek/norilsk/" title="">Норильск</a></li>
                <li><a href="/delivery/list_cdek/noyabrsk/" title="">Ноябрьск</a></li>
            </ul>
        </div>
        <div class="cities-list-item">
            <ul>
                <li><a href="/delivery/list_cdek/obninsk/" title="">Обнинск</a></li>
                <li><a href="/delivery/list_cdek/odincovo/" title="">Одинцово</a></li>
                <li><a href="/delivery/list_cdek/omsk/" title="">Омск</a></li>
                <li><a href="/delivery/list_cdek/orel/" title="">Орел</a></li>
                <li><a href="/delivery/list_cdek/orenburg/" title="">Оренбург</a></li>
                <li><a href="/delivery/list_cdek/orehovo-zuevo-y_proezd_dzer/" title="">Орехово-Зуево</a></li>
                <li><a href="/delivery/list_cdek/orsk/" title="">Орск</a></li>
            </ul>
        </div>
        <div class="cities-list-item">
            <ul>
                <li><a href="/delivery/list_cdek/penza/" title="">Пенза</a></li>
                <li><a href="/delivery/list_cdek/perm/" title="">Пермь</a></li>
                <li><a href="/delivery/list_cdek/petrozavodsk/" title="">Петрозаводск</a></li>
                <li><a href="/delivery/list_cdek/petropavlovsk-kamchatskiy/" title="">Петропавловск-Камчатский</a></li>
                <li><a href="/delivery/list_cdek/podolsk/" title="">Подольск</a></li>
                <li><a href="/delivery/list_cdek/prokopevsk/" title="">Прокопьевск</a></li>
                <li><a href="/delivery/list_cdek/pskov/" title="">Псков</a></li>
                <li><a href="/delivery/list_cdek/pyatigorsk/" title="">Пятигорск</a></li>
            </ul>
        </div>
        <div class="cities-list-item">
            <ul>
                <li><a href="/delivery/list_cdek/rubcovsk/" title="">Рубцовск</a></li>
                <li><a href="/delivery/list_cdek/rybinsk/" title="">Рыбинск</a></li>
                <li><a href="/delivery/list_cdek/ryazan/" title="">Рязань</a></li>
            </ul>
        </div>
        <div class="cities-list-item">
            <ul>
                <li><a href="/delivery/list_cdek/salehard/" title="">Салехард</a></li>
                <li><a href="/delivery/list_cdek/samara/" title="">Самара</a></li>
                <li><a href="/delivery/list_cdek/saransk/" title="">Саранск</a></li>
                <li><a href="/delivery/list_cdek/saratov/" title="">Саратов</a></li>
                <li><a href="/delivery/list_cdek/sevastopol/" title="">Севастополь</a></li>
                <li><a href="/delivery/list_cdek/severobaykalsk/" title="">Северобайкальск</a></li>
                <li><a href="/delivery/list_cdek/seversk/" title="">Северск</a></li>
                <li><a href="/delivery/list_cdek/sergiev_posad/" title="">Сергиев Посад</a></li>
                <li><a href="/delivery/list_cdek/serov/" title="">Серов</a></li>
                <li><a href="/delivery/list_cdek/serpuhov-aya_moskovskaya_d_13_24/" title="">Серпухов</a></li>
                <li><a href="/delivery/list_cdek/simferopol/" title="">Симферополь</a></li>
                <li><a href="/delivery/list_cdek/smolensk/" title="">Смоленск</a></li>
                <li><a href="/delivery/list_cdek/snezhinsk/" title="">Снежинск</a></li>
                <li><a href="/delivery/list_cdek/solikamsk/" title="">Соликамск</a></li>

                <li><a href="/delivery/list_cdek/solnechnogorsk/" title="">Солнечногорск</a></li>
                <li><a href="/delivery/list_cdek/solncevo/" title="">Солнцево</a></li>
                <li><a href="/delivery/list_cdek/sosnovyy_bo/" title="">Сосновый Бор</a></li>
                <li><a href="/delivery/list_cdek/sochi/" title="">Сочи</a></li>
                <li><a href="/delivery/list_cdek/stavropol/" title="">Ставрополь</a></li>
                <li><a href="/delivery/list_cdek/staryy_oskol/" title="">Старый Оскол</a></li>
                <li><a href="/delivery/list_cdek/sterlitamak/" title="">Стерлитамак</a></li>
                <li><a href="/delivery/list_cdek/strezhevoy/" title="">Стрежевой</a></li>
                <li><a href="/delivery/list_cdek/stupino/" title="">Ступино</a></li>
                <li><a href="/delivery/list_cdek/sudak/" title="">Судак</a></li>
                <li><a href="/delivery/list_cdek/surgut/" title="">Сургут</a></li>
                <li><a href="/delivery/list_cdek/syizran/" title="">Сызрань</a></li>
                <li><a href="/delivery/list_cdek/syktyvkar/" title="">Сыктывкар</a></li>
            </ul>
        </div>
        <div class="cities-list-item">
            <ul>
                <li><a href="/delivery/list_cdek/taganrog/" title="">Таганрог</a></li>
                <li><a href="/delivery/list_cdek/tambov/" title="">Тамбов</a></li>
                <li><a href="/delivery/list_cdek/tver-y_podezd/" title="">Тверь</a></li>
                <li><a href="/delivery/list_cdek/tolyatti/" title="">Тольятти</a></li>
                <li><a href="/delivery/list_cdek/tomsk/" title="">Томск</a></li>
                <li><a href="/delivery/list_cdek/troick/" title="">Троицк</a></li>
                <li><a href="/delivery/list_cdek/tula/" title="">Тула</a></li>
                <li><a href="/delivery/list_cdek/tyinda/" title="">Тында</a></li>
                <li><a href="/delivery/list_cdek/tyumen/" title="">Тюмень</a></li>
            </ul>
        </div>
        <div class="cities-list-item">
            <ul>
                <li><a href="/delivery/list_cdek/ulan-ude/" title="">Улан-Удэ</a></li>
                <li><a href="/delivery/list_cdek/ulyanovsk/" title="">Ульяновск</a></li>
                <li><a href="/delivery/list_cdek/ussuriysk/" title="">Уссурийск</a></li>
                <li><a href="/delivery/list_cdek/ufa/" title="">Уфа</a></li>
                <li><a href="/delivery/list_cdek/uhta/" title="">Ухта</a></li>
            </ul>
        </div>
        <div class="cities-list-item">
            <ul>
                <li><a href="/delivery/list_cdek/feodosiya/" title="">Феодосия</a></li>
            </ul>
        </div>
        <div class="cities-list-item">
            <ul>
                <li><a href="/delivery/list_cdek/habarovsk/" title="">Хабаровск</a></li>
                <li><a href="/delivery/list_cdek/hanty-mansiysk/" title="">Ханты-Мансийск</a></li>
                <li><a href="/delivery/list_cdek/hasavyurt/" title="">Хасавюрт</a></li>
                <li><a href="/delivery/list_cdek/himki/" title="">Химки</a></li>
            </ul>
        </div>
        <div class="cities-list-item">
            <ul>
                <li><a href="/delivery/list_cdek/cheboksary/" title="">Чебоксары</a></li>
                <li><a href="/delivery/list_cdek/chelyabinsk/" title="">Челябинск</a></li>
                <li><a href="/delivery/list_cdek/cherepovec/" title="">Череповец</a></li>
                <li><a href="/delivery/list_cdek/cherkessk/" title="">Черкесск</a></li>
                <li><a href="/delivery/list_cdek/chita/" title="">Чита</a></li>
                <li><a href="/delivery/list_cdek/chusovoy/" title="">Чусовой</a></li>
            </ul>
        </div>
        <div class="cities-list-item">
            <ul>
                <li><a href="/delivery/list_cdek/shahty/" title="">Шахты</a></li>
            </ul>
        </div>
        <div class="cities-list-item">
            <ul>
                <li><a href="/delivery/list_cdek/elektrostal/" title="">Электросталь</a></li>
            </ul>
        </div>
        <div class="cities-list-item">
            <ul>
                <li><a href="/delivery/list_cdek/yuzhno-sahalinsk/" title="">Южно-Сахалинск</a></li>
                <li><a href="/delivery/list_cdek/yuzhnouralsk/" title="">Южноуральск</a></li>
                <li><a href="/delivery/list_cdek/yurga/" title="">Юрга</a></li>
            </ul>
        </div>
        <div class="cities-list-item">
            <ul>
                <li><a href="/delivery/list_cdek/yakutsk/" title="">Якутск</a></li>
                <li><a href="/delivery/list_cdek/yalta/" title="">Ялта</a></li>
                <li><a href="/delivery/list_cdek/yaroslavl/" title="">Ярославль</a></li>
            </ul>
        </div>
    </div>

</div>
{% endblock %}