{% extends "base.html" %}
{% load catalog_menu %}

{% block title %}
    <title>Family Trend | пункты выдачи СДЭК</title>
{% endblock %}

{% block content %}
<div id="left-block">
    {% catalog_menu %}
</div>

<div id="center-block" class="delivery_list">

    <div class="recent-cities">
		<ul>
			<li><a href="/contacts/ekaterinburg.html" title="">Екатеринбург</a></li>
			<li><a href="/contacts/krasnodar.html" title="">Краснодар</a></li>
			<li><a href="/contacts/moskva.html" title="">Москва</a></li>
			<li><a href="/contacts/nizhniy-novgorod.html" title="">Нижний Новгород</a></li>
			<li><a href="/contacts/novosibirsk.html" title="">Новосибирск</a></li>
			<li><a href="/contacts/rostov-na-donu.html" title="">Ростов-на-Дону</a></li>
			<li><a href="/contacts/sankt-peterburg.html" title="">Санкт-Петербург</a></li>
		</ul>
	</div>
	<div class="cities-list-item">
		<ul>
			<li class="country">Беларусь</li>
			<li><a href="/contacts/g_brest_ul_vorovskogo_d_29.html" title="">Брест</a></li>
		</ul>
	</div>
	<div class="cities-list-item">
		<ul>
			<li><a href="/contacts/minsk.html" title="">Минск</a></li>
		</ul>
	</div>
	<div class="cities-list-item">
		<ul>
			<li class="country">Казахстан</li>
			<li><a href="/contacts/g_aktau-8-y_mikrarayon_dom_15_of_4.html" title="">Актау</a></li>
			<li><a href="/contacts/g_aktobe-ul_bratev_zhubanovyh_272.html" title="">Актобе</a></li>
			<li><a href="/contacts/almaty.html" title="">Алматы</a></li>
			<li><a href="/contacts/astana.html" title="">Астана</a></li>
			<li><a href="/contacts/g_atyrau_ul_abaya_26_a.html" title="">Атырау</a></li>
		</ul>
	</div>
	<div class="cities-list-item">
		<ul>
			<li><a href="/contacts/g_kyzylorda_ul_auezova_d_1a_torgovoy_centr_ak_otau.html" title="">Кызылорда</a></li>
		</ul>
	</div>
	<div class="cities-list-item">
		<ul>
			<li><a href="/contacts/g_pavlodar_ul_lermontova_452.html" title="">Павлодар</a></li>
			<li><a href="/contacts/g_petropavlovsk_ul_volodarskogo_d_126.html" title="">Петропавловск</a></li>
		</ul>
	</div>
	<div class="cities-list-item">
		<ul>
			<li><a href="/contacts/g_taraz_ul_voinskaya_d_2a.html" title="">Тараз</a></li>
		</ul>
	</div>
	<div class="cities-list-item">
		<ul>
			<li><a href="/contacts/g_ust-kamenogorsk_ul_protozanova_d_83.html" title="">Усть-Каменогорск</a></li>
		</ul>
	</div>
	<div class="cities-list-item">
		<ul>
			<li><a href="/contacts/g_shymkent_ul_baytursynova_88b.html" title="">Шымкент</a></li>
		</ul>
	</div>
	<div class="cities-list-item">
		<ul>
			<li class="country">Китай</li>
			<li><a href="/contacts/g_pekin_rayon_chaoyan_mezhdunarodnyy_torgovyy_cent.html" title="">Пекин</a></li>
		</ul>
	</div>
	<div class="cities-list-item">
		<ul>
			<li class="country">Россия</li>
			<li><a href="/contacts/g_abakan_ul_chertygasheva_d_126n_2_etazh_of_2.html" title="">Абакан</a></li>
			<li><a href="/contacts/g_aleksandrov_ul_vosstaniya_1905_goda_d_2.html" title="">Александров</a></li>
			<li><a href="/contacts/g_alushta_ultavricheskaya_d_3.html" title="">Алушта</a></li>
			<li><a href="/contacts/g_almetevsk_ul_chehova_d_20.html" title="">Альметьевск</a></li>
			<li><a href="/contacts/g_armavir_ul_novorossiyskaya_d_24_of_207.html" title="">Армавир</a></li>
			<li><a href="/contacts/g_artem_ul_klyuchevaya_d_11_of1.html" title="">Артем</a></li>
			<li><a href="/contacts/g_arhangelsk_pr_sovetskih_kosmonavtov_d_126_of_22.html" title="">Архангельск</a></li>
			<li><a href="/contacts/g_astrahan_ul_bogdana_hmelnickogo_d_43.html" title="">Астрахань</a></li>
			<li><a href="/contacts/g_achinsk_1-y_mikrorayon_d_34_.html" title="">Ачинск</a></li>
		</ul>
	</div>
	<div class="cities-list-item">
		<ul>
			<li><a href="/contacts/g_balakovo_prospekt_geroev_d_41_ofis_301.html" title="">Балаково</a></li>
			<li><a href="/contacts/nizhegorodskaya_obl_g_balahna_ul_dzerzhinskogo_d_1.html" title="">Балахна</a></li>
			<li><a href="/contacts/g_balashiha_pr_lenina_d_10a.html" title="">Балашиха</a></li>
			<li><a href="/contacts/barnaul.html" title="">Барнаул</a></li>
			<li><a href="/contacts/belgorod.html" title="">Белгород</a></li>
			<li><a href="/contacts/g_beloyarskiy_ul_molodosti_2a.html" title="">Белоярский</a></li>
			<li><a href="/contacts/g_berdsk_ul_vokzalnaya_dom_26_ofis_209.html" title="">Бердск</a></li>
			<li><a href="/contacts/g_berezniki_ul_karla_marksa_d_48_of_220_2_etazh.html" title="">Березники</a></li>
			<li><a href="/contacts/g_biysk_ul_sovetskaya_d_273_of_3.html" title="">Бийск</a></li>
			<li><a href="/contacts/g_blagoveshchensk_ul_50_let_oktyabrya_d_94.html" title="">Благовещенск</a></li>
			<li><a href="/contacts/s_bogorodskoe_habarovskiy_kray.html" title="">Богородское</a></li>
			<li><a href="/contacts/bodaybo.html" title="">Бодайбо</a></li>
			<li><a href="/contacts/g_bolshoy_kamen_ul_admirala_makarova_2-2.html" title="">Большой Камень</a></li>
			<li><a href="/contacts/g_borovichi_ul_mezhdunarodnaya_d_6.html" title="">Боровичи</a></li>
			<li><a href="/contacts/g_bratsk_ul_yuzhnaya_d_33a_ofis_2.html" title="">Братск</a></li>
			<li><a href="/contacts/bryansk.html" title="">Брянск</a></li>
		</ul>
	</div>
	<div class="cities-list-item">
		<ul>
			<li><a href="/contacts/g_velikie_luki_ul_botvina_19_ofis_2.html" title="">Великие Луки</a></li>
			<li><a href="/contacts/g_velikiy_novgorod_ul_b_sankt-peterburzhskaya_d_39.html" title="">Великий Новгород</a></li>
			<li><a href="/contacts/g_vidnoe_ul_donbasskaya_d_2.html" title="">Видное</a></li>
			<li><a href="/contacts/vladivostok.html" title="">Владивосток</a></li>
			<li><a href="/contacts/g_vladikavkaz_ul_mezhdunarodnaya_dom_2.html" title="">Владикавказ</a></li>
			<li><a href="/contacts/g_vladimir_pr_lenina_d_15a_of_119.html" title="">Владимир</a></li>
			<li><a href="/contacts/g_volgograd_ul_irkutskaya_d_19.html" title="">Волгоград</a></li>
			<li><a href="/contacts/g_volgodonsk_pr_stroiteley_d_8_of_5.html" title="">Волгодонск</a></li>
			<li><a href="/contacts/g_volzhskiy_pr_lenina_d_94.html" title="">Волжский</a></li>
			<li><a href="/contacts/g_vologda_ul_lermontova_d_5_of_1_2.html" title="">Вологда</a></li>
			<li><a href="/contacts/g_volokolamsk_porohovskaya_d_1a_str_3a.html" title="">Волоколамск</a></li>
			<li><a href="/contacts/g_voronezh_pr_truda_d_67v.html" title="">Воронеж</a></li>
		</ul>
	</div>
	<div class="cities-list-item">
		<ul>
			<li><a href="/contacts/g_gatchina_pr_25-go_oktyabrya_d_10_.html" title="">Гатчина</a></li>
			<li><a href="/contacts/g_georgievsk_ul_pushkina_48_of_1.html" title="">Георгиевск</a></li>
			<li><a href="/contacts/g_gorno-altaysk_ul_grigoriya_choros-gurkina_d_32.html" title="">Горно-Алтайск</a></li>
			<li><a href="/contacts/g_groznyy_ul_a_kadyrova_157.html" title="">Грозный</a></li>
		</ul>
	</div>
	<div class="cities-list-item">
		<ul>
			<li><a href="/contacts/g_dzerzhinsk_ul_tereshkovoy_d_8.html" title="">Дзержинск</a></li>
			<li><a href="/contacts/g_dimitrovgrad_ul_promyshlennaya_d_43_of_9.html" title="">Димитровград</a></li>
			<li><a href="/contacts/g_dolgoprudnyy_moskovskaya_oblast_ul_pervomayskaya.html" title="">Долгопрудный</a></li>
			<li><a href="/contacts/g_dubna_pr_bogolyubova_d_16a.html" title="">Дубна</a></li>
		</ul>
	</div>
	<div class="cities-list-item">
		<ul>
			<li><a href="/contacts/g_evpatoriya_ul_krupskaya_60_a_tc_dom_modeley.html" title="">Евпатория</a></li>
			<li><a href="/contacts/g_essentuki_ul_nikolskaya_dom_15a.html" title="">Ессентуки</a></li>
		</ul>
	</div>
	<div class="cities-list-item">
		<ul>
			<li><a href="/contacts/jeleznovodsk.html" title="">Железноводск</a></li>
		</ul>
	</div>
	<div class="cities-list-item">
		<ul>
			<li><a href="/contacts/g_zabaykalsk_ul_komsomolskaya_d_21.html" title="">Забайкальск</a></li>
			<li><a href="/contacts/g_zvenigorod_ul_moskovskaya_d_37.html" title="">Звенигород</a></li>
			<li><a href="/contacts/g_zelenograd_ul_andreevka_dom_31_of_14.html" title="">Зеленоград</a></li>
			<li><a href="/contacts/g_zlatoust_5_mkr_ul_yuzhno-esaulskaya_d_8_.html" title="">Златоуст</a></li>
		</ul>
	</div>
	<div class="cities-list-item">
		<ul>
			<li><a href="/contacts/ivanovo.html" title="">Иваново</a></li>
			<li><a href="/contacts/g_izhevsk_ul_pushkinskaya_d_367a.html" title="">Ижевск</a></li>
			<li><a href="/contacts/g_irkutsk_ul_yadrinceva_d_12_of_2_pervyy_etazh_.html" title="">Иркутск</a></li>
			<li><a href="/contacts/g_istra_ul_proletarskaya_d_1_pom_vi_of_38.html" title="">Истра</a></li>
		</ul>
	</div>
	<div class="cities-list-item">
		<ul>
			<li><a href="/contacts/g_yoshkar-ola_ul_proletarskaya_d_39_ofis_20.html" title="">Йошкар-Ола</a></li>
		</ul>
	</div>
	<div class="cities-list-item">
		<ul>
			<li><a href="/contacts/kazan.html" title="">Казань</a></li>
			<li><a href="/contacts/kaliningrad.html" title="">Калининград</a></li>
			<li><a href="/contacts/g_kaluga_ul_saltykova-shchedrina_d_76.html" title="">Калуга</a></li>
			<li><a href="/contacts/kemerovo.html" title="">Кемерово</a></li>
			<li><a href="/contacts/g_kerch_ul_sovetskaya_d_15.html" title="">Керчь</a></li>
			<li><a href="/contacts/g_kirov_ul_moskovskaya_d_15.html" title="">Киров</a></li>
			<li><a href="/contacts/g_kiselevsk_ul_transportnaya_15_tc_plaza_1_etazh.html" title="">Киселевск</a></li>
			<li><a href="/contacts/g_kislovodsk_ul_esenina_d_16.html" title="">Кисловодск</a></li>
			<li><a href="/contacts/g_klin_ul_borodinskiy_sad_d_1.html" title="">Клин</a></li>
			<li><a href="/contacts/g_kolomna_ul_yana_grunta_d_14_ofis_v5a.html" title="">Коломна</a></li>
			<li><a href="/contacts/g_kolpino_ul_tverskaya_d_36_korp_3.html" title="">Колпино</a></li>
			<li><a href="/contacts/g_komsomolsk-na-amure_pr_oktyabrskiy_d_28.html" title="">Комсомольск-на-Амуре</a></li>
			<li><a href="/contacts/kostomuksha.html" title="">Костомукша</a></li>
			<li><a href="/contacts/g_kostroma_ul_osypnaya_d_4_of_23.html" title="">Кострома</a></li>
			<li><a href="/contacts/g_krasnogorsk_mikrorayon_teplyy_beton_opticheskiy_.html" title="">Красногорск</a></li>
			<li><a href="/contacts/krasnoyarsk.html" title="">Красноярск</a></li>
			<li><a href="/contacts/nizhegorodskaya_oblast_g_kstovo_ul_lukerinskaya_d_.html" title="">Кстово</a></li>
			<li><a href="/contacts/g_kurgan_ul_sibirskaya_d_8_str_1_of_21.html" title="">Курган</a></li>
			<li><a href="/contacts/g_kursk_ul_zapolnaya_d_56.html" title="">Курск</a></li>
		</ul>
	</div>
	<div class="cities-list-item">
		<ul>
			<li><a href="/contacts/g_lipeck_pl_petra_velikogo_d_5_ofis_05.html" title="">Липецк</a></li>
			<li><a href="/contacts/g_lyubercy_ul_3-e_pochtovoe_otdelenie_d_76_.html" title="">Люберцы</a></li>
		</ul>
	</div>
	<div class="cities-list-item">
		<ul>
			<li><a href="/contacts/g_magadan_ul_kolcevaya_d_3_.html" title="">Магадан</a></li>
			<li><a href="/contacts/magnitogorsk.html" title="">Магнитогорск</a></li>
			<li><a href="/contacts/resp_adygeya_g_maykop_ul_lenina_d_6_of4.html" title="">Майкоп</a></li>
			<li><a href="/contacts/g_mahachkala_pr_akushinskogo_22-a.html" title="">Махачкала</a></li>
			<li><a href="/contacts/g_mezhdurechensk_ul_yunosti_d_10_of_220.html" title="">Междуреченск</a></li>
			<li><a href="/contacts/g_miass_ul_lihacheva_d_31_ofis_11.html" title="">Миасс</a></li>
			<li><a href="/contacts/g_mineralnye_vody_ul_50_let_oktyabrya_d_67_ofis_11.html" title="">Минеральные воды</a></li>
			<li><a href="/contacts/mirnyiy.html" title="">Мирный</a></li>
			<li><a href="/contacts/g_mozhaysk_ul_zhelyabova_d_31_of_1.html" title="">Можайск</a></li>
			<li><a href="/contacts/g_murmansk_pr_volodarskogo_d_7.html" title="">Мурманск</a></li>
			<li><a href="/contacts/g_mytishchi_moskovskaya_obl_ul_kolpakova_d_92_.html" title="">Мытищи</a></li>
		</ul>
	</div>
	<div class="cities-list-item">
		<ul>
			<li><a href="/contacts/g_naberezhnye_chelny_ul_ahmetshina_d_108.html" title="">Набережные Челны</a></li>
			<li><a href="/contacts/g_nadym_ul_proezd_d_13_promzona_panel_s_ofis_20.html" title="">Надым</a></li>
			<li><a href="/contacts/g_nalchik_ul_temryuka_idarova_d_129.html" title="">Нальчик</a></li>
			<li><a href="/contacts/g_naro-fominsk_ul_voykova_d_3_of_128b1.html" title="">Наро-Фоминск</a></li>
			<li><a href="/contacts/naryan-mar.html" title="">Нарьян-Мар</a></li>
			<li><a href="/contacts/g_nahodka_ul_lineynaya_d_2a.html" title="">Находка</a></li>
			<li><a href="/contacts/nevinnomyissk.html" title="">Невинномысск</a></li>
			<li><a href="/contacts/neryungi.html" title="">Нерюнгри</a></li>
			<li><a href="/contacts/g_neftekamsk_ul_socialisticheskaya_d_37_ofis_2_1_e.html" title="">Нефтекамск</a></li>
			<li><a href="/contacts/g_nefteyugansk_ul_mira_10-of_11.html" title="">Нефтеюганск</a></li>
			<li><a href="/contacts/g_nizhnevartovsk_ul_marshala_zhukova_d_5.html" title="">Нижневартовск</a></li>
			<li><a href="/contacts/g_nizhnekamsk_ul_skver_lemaeva_d_8_of_101.html" title="">Нижнекамск</a></li>
			<li><a href="/contacts/g_nizhniy_tagil_ul_krasnoarmeyskaya_79.html" title="">Нижний Тагил</a></li>
			<li><a href="/contacts/novokuznetsk.html" title="">Новокузнецк</a></li>
			<li><a href="/contacts/g_novorossiysk_pr_lenina_d_13.html" title="">Новороссийск</a></li>
			<li><a href="/contacts/g_novocheboksarsk_elnikovskiy_proezd_d_2.html" title="">Новочебоксарск</a></li>
			<li><a href="/contacts/g_novocherkassk_ploshchad_levski_5_ul_pushkinskaya.html" title="">Новочеркасск</a></li>
			<li><a href="/contacts/g_novyy_urengoy_ul_kedrovaya_1b_of_120.html" title="">Новый Уренгой</a></li>
			<li><a href="/contacts/g_norilsk_ul_laureatov_d_41.html" title="">Норильск</a></li>
			<li><a href="/contacts/g_noyabrsk_ul_sovetskaya_d_16.html" title="">Ноябрьск</a></li>
		</ul>
	</div>
	<div class="cities-list-item">
		<ul>
			<li><a href="/contacts/g_obninsk_ul_koroleva_d_17.html" title="">Обнинск</a></li>
			<li><a href="/contacts/g_odincovo_moskovskoy_oblasti_mozhayskoe_shosse_d1.html" title="">Одинцово</a></li>
			<li><a href="/contacts/omsk.html" title="">Омск</a></li>
			<li><a href="/contacts/g_orel_ul_stepana_razina_d_12_of_12.html" title="">Орел</a></li>
			<li><a href="/contacts/g_orenburg_ul_vostochnaya_d_426.html" title="">Оренбург</a></li>
			<li><a href="/contacts/g_orehovo-zuevo_moskovskaya_oblast_1-y_proezd_dzer.html" title="">Орехово-Зуево</a></li>
			<li><a href="/contacts/g_orsk_ul_radosteva_d_10_of_16.html" title="">Орск</a></li>
		</ul>
	</div>
	<div class="cities-list-item">
		<ul>
			<li><a href="/contacts/g_penza_ul_suvorova_d_111a_of_109.html" title="">Пенза</a></li>
			<li><a href="/contacts/perm.html" title="">Пермь</a></li>
			<li><a href="/contacts/g_petrozavodsk_ul_dzerzhinskogo_d_3_ofis_15.html" title="">Петрозаводск</a></li>
			<li><a href="/contacts/g_petropavlovsk-kamchatskiy_ul_bohnyaka_d_18.html" title="">Петропавловск-Камчатский</a></li>
			<li><a href="/contacts/g_podolsk_ul_revolyucionnyy_prospekt_d_70_ofis_3.html" title="">Подольск</a></li>
			<li><a href="/contacts/g_prokopevsk_ul_institutskaya_d_9a_ofis_21.html" title="">Прокопьевск</a></li>
			<li><a href="/contacts/g_pskov_ul_l_tolstogo_d_3_of_1014.html" title="">Псков</a></li>
			<li><a href="/contacts/g_pyatigorsk_ul_moskovskaya_d_68a.html" title="">Пятигорск</a></li>
		</ul>
	</div>
	<div class="cities-list-item">
		<ul>
			<li><a href="/contacts/g_rubcovsk_pr-kt_rubcovskiy_dom_17.html" title="">Рубцовск</a></li>
			<li><a href="/contacts/g_rybinsk_pr-t_serova_d_1.html" title="">Рыбинск</a></li>
			<li><a href="/contacts/ryazan.html" title="">Рязань</a></li>
		</ul>
	</div>
	<div class="cities-list-item">
		<ul>
			<li><a href="/contacts/salehard.html" title="">Салехард</a></li>
			<li><a href="/contacts/samara.html" title="">Самара</a></li>
			<li><a href="/contacts/g_saransk_ul_stepana_razina_d_46.html" title="">Саранск</a></li>
			<li><a href="/contacts/g_saratov_pr_50-letiya_oktyabrya_d_110a_korp_8_of_.html" title="">Саратов</a></li>
			<li><a href="/contacts/g_sevastopol_ul_ochakovcev_d_34_a.html" title="">Севастополь</a></li>
			<li><a href="/contacts/severobaykalsk.html" title="">Северобайкальск</a></li>
			<li><a href="/contacts/g_seversk_tomskoy_oblasti_ul_transportnaya_d_30_of.html" title="">Северск</a></li>
			<li><a href="/contacts/g_sergiev_posad_moskovskoe_shosse_dom_25.html" title="">Сергиев Посад</a></li>
			<li><a href="/contacts/serov.html" title="">Серов</a></li>
			<li><a href="/contacts/g_serpuhov_ul_1-aya_moskovskaya_d_13_24.html" title="">Серпухов</a></li>
			<li><a href="/contacts/simferopol.html" title="">Симферополь</a></li>
			<li><a href="/contacts/smolensk.html" title="">Смоленск</a></li>
			<li><a href="/contacts/g_snezhinsk_chelyabinskaya_obl_ul_40_let_oktyabrya.html" title="">Снежинск</a></li>
			<li><a href="/contacts/solikamsk,_permskiy_kray.html" title="">Соликамск</a></li>
			<li><a href="/contacts/g_solnechnogorsk_ul_lesnaya_d_13.html" title="">Солнечногорск</a></li>
			<li><a href="/contacts/g_solncevo-ul_volynskaya_d_9.html" title="">Солнцево</a></li>
			<li><a href="/contacts/g_sosnovyy_bor_pr_geroev_d_54a_of_5.html" title="">Сосновый Бор</a></li>
			<li><a href="/contacts/g_sochi_ul_plastunskaya_47a_ofis_11_3_etazh.html" title="">Сочи</a></li>
			<li><a href="/contacts/g_stavropol_ul_shpakovskaya_d_746.html" title="">Ставрополь</a></li>
			<li><a href="/contacts/g_staryy_oskol_pr_metallurgov_d_6_of_12.html" title="">Старый Оскол</a></li>
			<li><a href="/contacts/g_sterlitamak_ul_kommunisticheskaya_d_46.html" title="">Стерлитамак</a></li>
			<li><a href="/contacts/g_strezhevoy_4_mkr_d_417.html" title="">Стрежевой</a></li>
			<li><a href="/contacts/g_stupino_ul_nekrasova_d_912_.html" title="">Ступино</a></li>
			<li><a href="/contacts/g_sudak_ul_lenina_d_78b.html" title="">Судак</a></li>
			<li><a href="/contacts/g_surgut_ul_30_let_pobedy_d_44b_of_1101.html" title="">Сургут</a></li>
			<li><a href="/contacts/syizran.html" title="">Сызрань</a></li>
			<li><a href="/contacts/g_syktyvkar_ul_garazhnaya_9_of_106_bc_soyuz.html" title="">Сыктывкар</a></li>
		</ul>
	</div>
	<div class="cities-list-item">
		<ul>
			<li><a href="/contacts/g_taganrog_ul_petrovskaya_d_42_of_12.html" title="">Таганрог</a></li>
			<li><a href="/contacts/g_tambov_morshanskoe_shosse_d_17g.html" title="">Тамбов</a></li>
			<li><a href="/contacts/g_tver_ul_zhigareva_d_7_1-y_podezd.html" title="">Тверь</a></li>
			<li><a href="/contacts/g_tolyatti_ul_lenina_d_44_korp_3_ofis_5.html" title="">Тольятти</a></li>
			<li><a href="/contacts/g_tomsk_ul_eniseyskaya_d_37_of_104_105.html" title="">Томск</a></li>
			<li><a href="/contacts/g_troick_ul_polkovnika_milicii_kurochkina_d_19_pom.html" title="">Троицк</a></li>
			<li><a href="/contacts/tula.html" title="">Тула</a></li>
			<li><a href="/contacts/tyinda.html" title="">Тында</a></li>
			<li><a href="/contacts/tyumen.html" title="">Тюмень</a></li>
		</ul>
	</div>
	<div class="cities-list-item">
		<ul>
			<li><a href="/contacts/g_ulan-ude_ul_kommunisticheskaya_d_47a_ofis_107_g-.html" title="">Улан-Удэ</a></li>
			<li><a href="/contacts/ulyanovsk.html" title="">Ульяновск</a></li>
			<li><a href="/contacts/g_ussuriysk_ul_krasnoznamennaya_d_178b_of_8.html" title="">Уссурийск</a></li>
			<li><a href="/contacts/g_ufa_ul_mendeleeva_d_1401.html" title="">Уфа</a></li>
			<li><a href="/contacts/respublika_komi_g_uhta_ul_yubileynaya_d_14_of_43.html" title="">Ухта</a></li>
		</ul>
	</div>
	<div class="cities-list-item">
		<ul>
			<li><a href="/contacts/g_feodosiya_ul_kuybysheva_d_31.html" title="">Феодосия</a></li>
		</ul>
	</div>
	<div class="cities-list-item">
		<ul>
			<li><a href="/contacts/habarovsk.html" title="">Хабаровск</a></li>
			<li><a href="/contacts/g_hanty-mansiysk_dunina_gorkavicha_15.html" title="">Ханты-Мансийск</a></li>
			<li><a href="/contacts/g_hasavyurt_aksaevskoe_shosse_d_101.html" title="">Хасавюрт</a></li>
			<li><a href="/contacts/himki.html" title="">Химки</a></li>
		</ul>
	</div>
	<div class="cities-list-item">
		<ul>
			<li><a href="/contacts/g_cheboksary_ul_ilbekova_d_4_of_202.html" title="">Чебоксары</a></li>
			<li><a href="/contacts/chelyabinsk.html" title="">Челябинск</a></li>
			<li><a href="/contacts/g_cherepovec_sovetskiy_prospekt_d_4.html" title="">Череповец</a></li>
			<li><a href="/contacts/g_cherkessk_ul_gutyakulova_d_3_.html" title="">Черкесск</a></li>
			<li><a href="/contacts/g_chita_ul_bogomyagkova_d_53_ofis_3.html" title="">Чита</a></li>
			<li><a href="/contacts/g_chusovoy_ul_sverdlova_4.html" title="">Чусовой</a></li>
		</ul>
	</div>
	<div class="cities-list-item">
		<ul>
			<li><a href="/contacts/g_shahty_ul_sovestkaya_dom_200.html" title="">Шахты</a></li>
		</ul>
	</div>
	<div class="cities-list-item">
		<ul>
			<li><a href="/contacts/g_elektrostal_ul_krasnaya_d_1_of_4.html" title="">Электросталь</a></li>
		</ul>
	</div>
	<div class="cities-list-item">
		<ul>
			<li><a href="/contacts/g_yuzhno-sahalinsk_pr-t_mira_d_95_of_25.html" title="">Южно-Сахалинск</a></li>
			<li><a href="/contacts/g_yuzhnouralsk_ul_sovetskoy_armii_dom_16.html" title="">Южноуральск</a></li>
			<li><a href="/contacts/g_yurga_ul_leningradskaya_d_4_of_22.html" title="">Юрга</a></li>
		</ul>
	</div>
	<div class="cities-list-item">
		<ul>
			<li><a href="/contacts/g_yakutsk_ul_kurashova_d_19_of_4.html" title="">Якутск</a></li>
			<li><a href="/contacts/g_yalta_ul_moskovskaya_33.html" title="">Ялта</a></li>
			<li><a href="/contacts/g_yaroslavl_ul_bolshaya_oktyabrskaya_d_392.html" title="">Ярославль</a></li>
		</ul>
	</div>

</div>
{% endblock %}