{% extends "base.html" %}
{% load staticfiles %}
{% load catalog_menu %}
{% load categ_sort %}

{% block title %}
    <title>Family Trend | {{ categ.title }}</title>
{% endblock %}

{% block content %}
<div id="left-block">
    {% catalog_menu %}
</div>
<div id="center-block" class="category">

    {% if categ.name %}
        <h1 class="title_h1">{{ categ.name }}</h1>
    {% else %}
        <h1 class="title_h1">{{ categ.title }}</h1>
    {% endif %}


{##}
{#    <div class="category-sort" data-id="{{ categ.id }}">#}
{#        <div class="category-sort-left">#}
{#            <div class="sort-price" data-max="{{ stop_price }}">#}
{#                <label>Цена (Руб):</label>#}
{#                <div class="irs-block">#}
{#                    <input id="input-price" class="" readonly="">#}
{#                </div>#}
{#            </div>#}
{#            <div class="sort-price">#}
{#                <label>Рост (См.):</label>#}
{#                <div class="irs-block">#}
{#                    <input id="input-size" class="" readonly="">#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="category-sort-right">#}
{#            <div class="category-sort-right-header"><p>Коллекции:</p></div>#}
{#            <div class="category-sort-right-collection">#}
{#                {% for collection in collections %}#}
{#                    <input type="checkbox" data-id="{{ collection.id }}" id="test-check{{ forloop.counter }}"/>#}
{#                    <label for="test-check{{ forloop.counter }}">{{ collection }}</label>#}
{#                {% endfor %}#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

    {% categ_sort sort_option %}

    {% if categ.text %}
        <article class="art">
            <p>{{ categ.text }}</p>
        </article>
    {% endif %}

    <div class="categories">
        {% for product in products %}
        <div class="content-item">
            <a class="catalog_item_link" href="/catalog/product/{{ product.id }}/">
                <div class="img-block"><img src="/static/uploads/{{ product.image }}" alt="{{ product.name }}"/></div>
                <h3 class="catalog_product_item_name">{{ product.name }}</h3>
            </a>

            <div class="itrm-link">
                {% if product.sale_status %}
                    <p class="cat-price catalog_price"><span>{{ product.price_sale }}</span> руб.</p>
                    <p class="cat-price catalog_price_old"><span>{{ product.price }}</span> руб.</p>
                {% else %}
                    <p class="cat-price catalog_price_stable"><span class="catalog_price">{{ product.price }}</span> руб.</p>
                {% endif %}
            </div>

            <div class="time-item">
                <input type="button" class="catalog_order_submit" data-id="{{ product.id }}" value="В корзину"/>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}