{% extends "base.html" %}
{% load staticfiles %}
{% load catalog_menu %}

{% block title %}
    <title>Family Trend - интернет магазин детской одежды</title>
{% endblock %}

{% block content %}
<div id="left-block">
    {% catalog_menu %}
</div>
<div id="center-block" class="category">

    <a href="#">
        <img src="/static/images/Banner.png" alt="Зимняя одежда Family Trend"/>
    </a>

    <h2 class="home_h2">Новинки</h2>
    <a class="read_more" href="/catalog/novelty/">посмотреть всё</a>

    <div class="categories">
        {% for product in novelty_products %}
        <div class="content-item">
            <a class="catalog_item_link" href="/catalog/product/{{ product.id }}/">
                <div class="img-block"><img src="/static/uploads/{{ product.image }}" alt="{{ product.name }}"/></div>
                <h3 class="catalog_product_item_name">{{ product.name }}</h3>
            </a>

            <div class="itrm-link">
                {% if product.sale_status %}
                    <p class="cat-price catalog_price"><span>{{ product.price_sale }}</span> руб.</p>
                    <p class="cat-price catalog_price_old"><span>{{ product.price }}</span> руб.</p>
                {% else %}
                    <p class="cat-price catalog_price_stable"><span class="catalog_price">{{ product.price }}</span> руб.</p>
                {% endif %}
            </div>

            <div class="time-item">
                <input type="button" class="catalog_order_submit" data-id="{{ product.id }}" value="В корзину"/>
            </div>
        </div>
        {% endfor %}
    </div>


    <h2 class="home_h2">Рекомендуемые</h2>
    <a class="read_more" href="/catalog/sell/">посмотреть всё</a>

    <div class="categories">
        {% for product in sell_products %}
        <div class="content-item">
            <a class="catalog_item_link" href="/catalog/product/{{ product.id }}/">
                <div class="img-block"><img src="/static/uploads/{{ product.image }}" alt="{{ product.name }}"/></div>
                <h3 class="catalog_product_item_name">{{ product.name }}</h3>
            </a>

            <div class="itrm-link">
                {% if product.sale_status %}
                    <p class="cat-price catalog_price"><span>{{ product.price_sale }}</span> руб.</p>
                    <p class="cat-price catalog_price_old"><span>{{ product.price }}</span> руб.</p>
                {% else %}
                    <p class="cat-price catalog_price_stable"><span class="catalog_price">{{ product.price }}</span> руб.</p>
                {% endif %}
            </div>

            <div class="time-item">
                <input type="button" class="catalog_order_submit" data-id="{{ product.id }}" value="В корзину"/>
            </div>
        </div>
        {% endfor %}
    </div>


    <h2 class="home_h2">Хит продаж</h2>
    <a class="read_more" href="/catalog/popular/">посмотреть всё</a>

    <div class="categories">
        {% for product in popular_products %}
        <div class="content-item">
            <a class="catalog_item_link" href="/catalog/product/{{ product.id }}/">
                <div class="img-block"><img src="/static/uploads/{{ product.image }}" alt="{{ product.name }}"/></div>
                <h3 class="catalog_product_item_name">{{ product.name }}</h3>
            </a>

            <div class="itrm-link">
                {% if product.sale_status %}
                    <p class="cat-price catalog_price"><span>{{ product.price_sale }}</span> руб.</p>
                    <p class="cat-price catalog_price_old"><span>{{ product.price }}</span> руб.</p>
                {% else %}
                    <p class="cat-price catalog_price_stable"><span class="catalog_price">{{ product.price }}</span> руб.</p>
                {% endif %}
            </div>

            <div class="time-item">
                <input type="button" class="catalog_order_submit" data-id="{{ product.id }}" value="В корзину"/>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}