{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Family Trend | {{ product.name }}</title>
{% endblock %}

{% block content %}
<div class="cart">
    <div class="bread-crumbs"><a href="/">Главная</a> → <a href="/catalog/{{ product.category.url }}/">{{ product.category.title }}</a> → <span>{{ product.name }}</span></div>
    <div id="cart-left">
        <div class="cart-img">
            <img src="/static/uploads/{{ product.image }}" alt="{{ product.name }}" class="product_image_head"/>
        </div>
        {% for image in images %}
        <div class="small-cart-img">
            {% if image == product.image %}
                <a data-fancybox-group="thumb" href="/static/uploads/{{ image }}" class="product_image prev_head">
                    <img src="/static/uploads/{{ image }}" alt="image"/>
                </a>
            {% else %}
            <a data-fancybox-group="thumb" href="/static/uploads/{{ image }}" class="product_image">
                <img src="/static/uploads/{{ image }}" alt="image"/>
            </a>
            {% endif %}
        </div>
        {% endfor %}
        {% if recommended.count > 0 %}
        <div class="header-of-block"><p>Рекомендуем: </p></div>
        <div class="sliderkit carousel">
            <div class="sliderkit-nav">
                <div class="sliderkit-nav-clip">
                    <ul>
                        {% for pr in recommended %}
                        <li><a href="/catalog/product/{{ pr.id }}/"><img src="/static/uploads/{{ pr.image }}" alt="{{ pr.name }}"/></a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="sliderkit-btn sliderkit-nav-btn sliderkit-nav-prev"><a href="#" title="Previous line"><span></span></a></div>
                <div class="sliderkit-btn sliderkit-nav-btn sliderkit-nav-next"><a href="#" title="Next line"><span></span></a></div>
            </div>
        </div>
        {% endif %}
    </div>
    <div id="cart-right">
        <div class="top-cart-block">
            <div class="cart-category"><p>{{ product.category.title }}</p></div>
            <h1 class="cart-title">{{ product.name }}</h1>
            {% if product.sale_status %}
                <div class="cart-price"><p><span>{{ product.price_sale }}</span> руб.<span class="cart-old-price"><del>{{ product.price }} руб.</del></span></p></div>
                <div class="cart-sale"><p>Скидка {{ product.sale_value }}%</p></div>
            {% else %}
                <div class="cart-price"><p><span>{{ product.price }}</span> руб.</p></div>
            {% endif %}
        </div>
        <div class="cart-size-block">
            <div class="header-of-block"><p>Выберете рост/размер:</p></div>
            <div class="cart-size-body">
{#                <p>Рост: 100 см, Возраст: 3 года - 4 года, Размер на этикетке: 100, В комплекте: Платье,#}
{#                <br/> Год производства: 01.2013</p>#}
            </div>
            <div class="cart-radiobt">
                <form>
                    {% for size in sizes %}
                        {% if forloop.counter == 1 %}
                            <input type="radio" id="test-check{{ forloop.counter }}" name="size" value="{{ size }}" checked/>
                        {% else %}
                            <input type="radio" id="test-check{{ forloop.counter }}" name="size" value="{{ size }}"/>
                        {% endif %}
                        <label for="test-check{{ forloop.counter }}">{{ size }}</label>
                    {% endfor %}
                </form>
            </div>
        </div>
        <div class="cart-info-block">
            <div class="l-c-i-block">
                <label for="select1">Цвет:</label>
                {% for key,sizes_cl in size_colors.items %}
                    {% if key == sizes_one %}
                        <div class="select_color_item select_color_active" style="display: inline-block" data-size="{{ key }}">
                    {% else %}
                        <div class="select_color_item" data-size="{{ key }}" style="display: none">
                    {% endif %}
                            <select id="select1" class="selectpicker" name="colors[]">
                                {% for color in sizes_cl %}
                                <option>{{ color }}</option>
                                {% endfor %}
                            </select>
                        </div>
                {% endfor %}
                <label for="select2">Количество:</label>
                <input type="text" name="count" id="id_count" value="1"/>
            </div>
            <div class="r-c-i-block">
                <div class="time-item">
                    <a href="/cart/add_product/" class="add_product" data-id="{{ product.id }}">Добавить в корзину</a>
                </div>
            </div>
        </div>
        <div class="cart-about">
            <div class="cart-about-header"><p>Описание</p></div>
            <article><p>{{ product.text|safe }}</p>
                <table>
                    {% if product.code %}
                    <tr>
                        <td>Артикул:</td>
                        <td>{{ product.code }}</td>
                    </tr>
                    {% endif %}

                    {% if product.age %}
                    <tr>
                        <td>Возраст:</td>
                        <td>
                        {% for ag in ages %}
                            {{ ag }},
                        {% endfor %}
                        </td>
                    </tr>
                    {% endif %}

                    {% if product.included %}
                    <tr>
                        <td>В комплекте:</td>
                        <td>{{ product.included  }}</td>
                    </tr>
                    {% endif %}

                    {% if collection.count > 0 %}
                    <tr>
                        <td>Коллекция:</td>
                        <td>
                        {% for item in collection %}
                            {% if forloop.first %}
                                {{ item }}
                            {% else %}
                                , {{ item }}
                            {% endif %}
                        {% endfor %}
                        </td>
                    </tr>
                    {% endif %}

                    {% if product.brand %}
                    <tr>
                        <td>Бренд:</td>
                        <td>{{ product.brand }}</td>
                    </tr>
                    {% endif %}

                    {% if product.country %}
                    <tr>
                        <td>Страна производитель:</td>
                        <td>{{ product.country }}</td>
                    </tr>
                    {% endif %}

                    {% if product.structure %}
                    <tr>
                        <td>Состав:</td>
                        <td>{{ product.structure }}</td>
                    </tr>
                    {% endif %}
                </table>
            </article>
        </div>
        <div class="cart-to-user">
            <article>
                <table>
                    <tr class="top-cu">
                        <td>О доставке:</td>
                        <td><a href="/usloviya-dostavki/">Подробнее об условиях</a></td>
                    </tr>
                    <tr>
                        <td>Доставка:</td>
                        <td>{{ settings.delivery }}</td>
                    </tr>
                    <tr>
                        <td>Оплата:</td>
                        <td>{{ settings.pay }}</td>
                    </tr>
                    <tr>
                        <td>Возврат:</td>
                        <td>{{ settings.recovery }}</td>
                    </tr>
                    <tr>
                        <td>Условия:</td>
                        <td>{{ settings.terms }}</td>
                    </tr>
                </table>
            </article>

        </div>
    </div>
</div>
{% endblock %}


{% block script %}

{% endblock %}