{#{% load sitetree %}#}
{% load i18n suit_menu %}
{% load url from future %}

<div class="left-nav" id="left-nav">
  <ul>
    {% block menu_home %}
      {% url 'admin:index' as index_url %}
      <li{% if index_url == request.path %} class="active"{% endif %}>
        <a href="{{ index_url }}"><i class="icon-home"></i>{% trans 'Home' %}
        </a>
      </li>
    {% endblock %}

    <li>
        <a href="/admin/account/user/"><i class="icon-chevron-right"></i>Account
        </a>
        <ul>
            <li>
                <a href="/admin/account/user/">Пользователи</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="/admin/cart/cartproduct/"><i class="icon-chevron-right"></i>Cart
        </a>
        <ul>
            <li>
                <a href="/admin/cart/cartproduct/">Cart products</a>
            </li>
            <li>
                <a href="/admin/cart/cart/">Carts</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="/admin/catalog/brand/"><i class="icon-chevron-right"></i>Catalog
        </a>
        <ul>
            <li>
                <a href="/admin/catalog/brand/">Бренды</a>
            </li>
            <li>
                <a href="/admin/catalog/age/">Возраст</a>
            </li>
            <li>
                <a href="/admin/catalog/category/">Категории</a>
            </li>
            <li>
                <a href="/admin/catalog/collection/">Коллекции</a>
            </li>
            <li>
                <a href="/admin/catalog/product/">Товары</a>
            </li>
            <li>
                <a href="/admin/catalog/color/">Цвета</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="/admin/my_admin/settings/"><i class="icon-chevron-right"></i>My_Admin
        </a>
        <ul>
            <li>
                <a href="/admin/my_admin/settings/">Settingss</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="/admin/orders/order/"><i class="icon-chevron-right"></i>Orders
        </a>
        <ul>
            <li>
                <a href="/admin/orders/order/">Заказы</a>
            </li>
            <li>
                <a href="/admin/orders/deliverytype/">Типы доставки</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="/admin/pages/page/"><i class="icon-chevron-right"></i>Pages
        </a>
        <ul>
            <li>
                <a href="/admin/pages/page/">Страницы</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="/admin/sale/sale/"><i class="icon-chevron-right"></i>Sale
        </a>
        <ul>
            <li>
                <a href="/admin/sale/sale/">Акции</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="/admin/auth/group/"><i class="icon-lock"></i>Пользователи и группы
        </a>
        <ul>
            <li>
                <a href="/admin/auth/group/">Группы</a>
            </li>
        </ul>
    </li>

    <li>
        <a href="/admin/settings/"><i class="icon-lock"></i>Настройки</a>
    </li>
  </ul>
</div>
