<table class="table-cart table-order">
	<tbody>
		<tr>
			<th colspan="2">Наименование товара</th>
			<th width="110px">Цена</th>
			<th width="110px">Количество</th>
			<th width="110px">Сумма</th>
		</tr>
		<tr class="product_item">
			<td>
				<a href="#"><img src="/static/uploads/d7mqcCtL92jqDw5qKJCc.jpg" alt="" width="60px"></a>
			</td>
			<td>
				Джемпер 132093
			</td>
			<td>
				300 руб.
			</td>
			<td align="center">1 шт.</td>
			<td>
				300 руб.
			</td>
		</tr>
		<tr class="result">
			<td colspan="3" align="right">Итого c учётом доставки:</td>
			<td></td>
			<td><span id="cart_result_sum">300 руб.</span></td>
		</tr>
	</tbody>
</table>